[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.3.0"
pyarrow = "19.0.1"
fastparquet = "2024.11.0"
pandera = "0.24.0"
#typing-inspect = "0.9.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
